<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Our Website</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: #bfabab;
    }

    h1 {
      color: #9d7171;
    }

    h2 {
      color: #666;
    }

    form {
      display: inline-block;
      border: 1px solid #8b2828;
      padding: 20px;
      background-color: #e5dbdb;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }

    form label {
      display: block;
      margin-bottom: 10px;
      color: #131313;
    }

    form input[type="email"],
    form input[type="password"] {
      width: 200px;
      padding: 5px;
      margin-bottom: 10px;
    }

    form input[type="submit"] {
      padding: 8px 20px;
      background-color: #6cbe5c;
      color: #faf5f5;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    body
      {
        background-color: rgb(10, 232, 188);
      }
    form input[type="submit"]:hover {
      background-color: #555;
    }

    p {
      color: #402f2f;
    }

    a {
      color: #333;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    table {
      border-collapse: collapse;
      width: 80%;
      margin: 0 auto;
    }

    th, td {
      border: 1px solid #8c3e3e;
      padding: 8px;
      text-align: center;
    }

    th {
      background-color: #aba2a2;
      color: #5a5757;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #e9e4e4;
    }
  </style>
</head>
<body>
  <h1>Welcome to Our Website</h1>
   <!-- Display an error message if the 'error' query parameter is present -->
  <h2>Log In</h2>
  <form action="/login" method="POST">
    <table>
      <tr>
        <td><label for="email">Email:</label></td>
        <td><input type="email" id="email" name="email" required></td>
      </tr>
      <tr>
        <td><label for="password">Password:</label></td>
        <td><input type="password" id="password" name="password" required></td>
      </tr>
      <tr>
        <%if(error){%>
          <p style="color:red"><%=error%></p>
          <%}%>
        <td colspan="2"><input type="submit" value="Log In"></td>
      </tr>
    </table>
  </form>

  <h2>Create a New Account</h2>
  <p>If you don't have an account yet, you can create one here:</p>
  <a href="signup">Create New Account</a>
</body>
</html>
